img{
    height: 50px;
    width: 50px;
    margin-left: 5%;
}

#espacio
{
    margin-left: 5%;
    
}

#espacioClima
{
    margin-left: 5%;

}

#espacioTemperatura
{
    margin-left: 40%;
}

#dia
{
    box-sizing: border-box;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#diaLunes
{
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    padding-right: 20px;
}