<nav id="diaLunes">
    <span id="espacio"> Lunes </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/sunny.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 18° </span> <br>
    <span id="espacioClima"> Soleado </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Martes </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/wet.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 9° </span> <br>
    <span id="espacioClima"> Lluvioso </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Miércoles </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/cloudy.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 11° </span> <br>
    <span id="espacioClima"> Nublado </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Jueves </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/stormy.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 7° </span> <br>
    <span id="espacioClima"> Tormenta </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Viernes </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/sunny.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 22° </span> <br>
    <span id="espacioClima"> Soleado </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Sábado </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/wet.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 7° </span> <br>
    <span id="espacioClima"> Lluvioso </span> <br>
</nav>

<nav id="dia">
    <span id="espacio"> Domingo </span> <br>
    <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
        <img src="../../assets/img/stormy.png">
    </a>
    <br>
    <span id="espacioTemperatura"> 7° </span> <br>
    <span id="espacioClima"> Tormenta </span> <br>
</nav>


